@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Source+Sans+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: #353841;
}

#logo {
    color: #259191;
    font-family: 'Lora', serif;
    font-size: 300%;
    line-height: 75%;
}

/* menu */

#menu {
    color: #259191;
    line-height: 75px;
    float: right;
}

#menu li {
    float: right;
    list-style-type: none;
}

