@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Source+Sans+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: #353841;
    overflow: hidden;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
}

.row {
    display: block;
}

#logo-container {
    line-height: 75px;
    margin-left: 30px;
    float: left;
}

#logo {
    color: #e4c722;
    font-family: 'Lora', serif;
    font-size: 180%;
    letter-spacing: 3px;
}

/* menu */

#menu {
    line-height: 75px;
    float: right;
    font-size: 110%;
}

#menu li {
    float: left;
    list-style-type: none;
    padding-right: 30px;
}

#menu a {
    color: #ffffff;
    text-decoration: none;
}

#menu a.active {
    color: #bba942;
    font-family: 'Lora', serif;
    font-size: 115%;
}

#menu a:hover {
    color: #f5e694;
    border-bottom: 1px solid #f5e694;
    padding-bottom: 5px
}

#menu a.active:hover {
    border: none
}

#menu a:target {
    color:#e4c722;
    border: none;
    font-weight: 700;
}

/* hero section */

#hero-section {
    height:100%;
    width: 100%;
}

#hero-image-bg {
    background: url(../images/meditation-class.jpg) no-repeat center center;
    background-size: 100%;
    height: 100%;
    overflow: hidden;
}

.tint {
    background-color: rgb(72, 95, 111, .7);
    height: 100%;
    padding: 20px;
}

#hero-section #cover {
    /* background-color: rgba(53, 53, 53, 0.3); */
    padding: 10px 30px 20px;
    width: 44%;
    margin: 80px auto;
    text-align: center;
}

#hero-section h2 {
    color: #eccb0e;
    font-size: 210%;
    font-weight: 500;
    letter-spacing: 2px;
}

#hero-section p {
    color: #ffffff;
    font-size: 140%;
    padding-top: 20px;
}

#hero-section hr {
    border-top: 1px solid #e4c722;
    border-bottom: none;
    margin-top: 20px;
}

/* options section */

#options-cover {
    background-color: rgba(53, 53, 53, 0.3);
    padding: 10px 30px 20px;
    height: auto;
    width: 44%;
    margin: 0 auto;
    text-align: center;
}

#options-intro {
    text-align: center;
    margin: 0 auto;
}

#options-intro h2 {
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
}

#options-intro p {
    color: #fff;
}

#options-buttons {
    overflow: hidden;
    text-align: center;
    padding-top: 40px;
    height: 100%
}

#options-buttons a.button {
    color: #fff;
    font-size: 120%;
    background-color: rgb(255, 255, 255, .3);
    box-shadow: 3px 4px 7px #00000030;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 100%;
    text-decoration: none;
    line-height: 75px;
    display: inline-block;
    width: 120px;
    height: 80px;
    transition: 0.7s;
}

#options-buttons a.button:hover {
    background-color: rgb(194, 152, 13, .4);
    box-shadow: none;
    border-radius: 50px;
}



/* meditation section */

#meditation-section {
    background-color: #f9ffe2;
    height: 100%;
    position: relative;
    padding: 40px 0;
}

#meditation-section p {
    color: #756c57;
}

#meditation-section .left-column {
    float: left;
    padding: 20px 30px 30px 60px;
    width: 45%;
    height: 100%;
}

#meditation-section .right-column {
    float: left;
    width: 35%;
    padding-top: 10%;
}

.circle-container {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    float: right;
}

.meditation-image {
    background: url(../images/woman-in-field.jpg) no-repeat center center;
    background-color: rgba(255, 174, 0, 0.5);
    border-radius: 50%;
    height: 100%;
}


#meditation-header {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.section-header {
    color: #e4c722;
    font-size: 600%;
    letter-spacing: 2px;
}

#meditation-header h2 {
    color: #eaa811;
    font-size: 300%;
    letter-spacing: 2px;
}

#meditation-section h3 {
    color: #eaa811;
    font-weight: 100;
    font-size: 200%;
}

#meditation-section .about-meditation p {
    font-size: 140%;
    padding-top: 20px;
    letter-spacing: 1px;
}


#about-meditation hr {
    border-top: 1px solid #e4c722;
}

/* Yoga section */

#yoga-section {
    height: 100%;
    overflow: hidden;
    color: #e4c722;
}

#yoga-section p {
    color: #fff;
}

#yoga-image-bg {
    background: url(../images/yoga-class.jpg) no-repeat center center;
    background-size: 100%;
    overflow: hidden;
    height: 100%;
}

#yoga-header {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

#yoga-section .tint {
    background-color: rgb(53, 56, 65, .9);
    height: 100%;
    padding: 20px;
}

#yoga-header h2, #qigong-header h2 {
    font-size: 350%;
    letter-spacing: 2px;
}

.about-yoga {
    padding: 40px 0;
    margin: 0 auto;
    height: 310px;
}

.about-yoga p {
    font-size: 140%;
    padding-top: 20px;
    letter-spacing: 1px;
}

#yoga-section .left-column {
    float: left;
    width: 50%;
    height: 100%;
    padding-right: 20px;
    margin-top: 2%;
}

#yoga-section .right-column {
    float: left;
    width: 35%;
}

#yoga-section .left-column .text {
    width: 60%;
    float: right;
    text-align: right;
}

#yoga-section .text h3 {
    font-size: 200%;
    font-weight: 100;
}

#yoga-section iframe {
    opacity: 80%;
    transition: .4s;
}

#yoga-section iframe:hover {
    opacity: 1;
}

/* Qi Gong section */

#qigong-section .tint {
    background-color: rgba(38, 86, 131, 0.8);
}

#qigong-image-bg {
    background: url(../images/qigong-balance.jpg) no-repeat center center;
    background-size: 100%;
    background-position-y: -193px;
    height: 100%;
}

#qigong-section .text h3 {
    font-size: 200%;
}

#qigong-section h2, #qigong-section h3  {
    color: #fff;
    font-weight: 100;
}

#qigong-section p {
    color: #b2eaff;
}

#qigong-header {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.about-qigong {
    padding-top:20px;
}

.about-qigong p {
    font-size: 140%;
    padding-top: 20px;
    letter-spacing: 1px;
}

#qigong-section .left-column {
    float: left;
    width: 50%;
    height: 100%;
    padding-right: 20px;
}

#qigong-section .right-column iframe {
    float: left;
    width: 35%;
    padding-bottom: 20px;
}

#qigong-section iframe {
    opacity: 80%;
    transition: .4s;
}

#qigong-section iframe:hover {
    opacity: 1;
}

#qigong-section .left-column .text {
    width: 70%;
    float: right;
    text-align: right;
}

/* Times */

.times-container {
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    width:70%;
    overflow: hidden;
}

#meditation-section .times-container {
    background-color: rgb(185, 122, 8, .4);
}

#yoga-section .times-container {    
    background-color: rgb(150, 150, 150, .5);
}

#qigong-section .times-container {
    background-color:  rgb(10, 19, 47, .5);
}

.times-container h2 {
    font-weight: 100;
    font-size: 220%;
    margin: 10px 0;
}

.times-container div {
    margin-right: 20px;
    width: 30%;
    float: left;

}

.times-container .day {
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

/* .times-container hr {
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: none;
    margin: 10px auto;
    width: 30%;
} */

.times-container hr.y-divider {
    padding:0;
    margin: 0;
    border:none
}

#meditation-section .times-container h2, #meditation-section .times-container h3, .meditation-section .times-container h3 {
    color: #fff;
}

 #meditation-section .times-container p {
    color: rgb(105, 103, 93);
}

#meditation-section .times-container h3, #yoga-section .times-container h3, #qigong-section .times-container h3 {
    font-weight: 100;
    font-size: 150%;
    letter-spacing: 2px;
}

#yoga-section .times-container h2, #yoga-section .times-container h3 {
    color: #e4c722;
}

/* footer */
footer {
    height: 100px;
    background-color: #353841;
}

.copyright {
    font-size: 110%;
    color: #fff;
    float: left;
    margin-left: 20px;
    line-height: 102px;
}

.socials {
    float: right;

}

.socials ul{
    float:left;
}

.socials  li {
    display: inline;
    float: left;
    margin-right:20px;
    line-height: 102px;
}

.socials i {
    color: #e4c722;
    font-size: 140%;
    transition: .4s;
}

.socials i:hover {
    color: #fff;
    font-size: 150%;
}

/* about page */


#about-image-bg {
    background: url(../images/qigong-battersea-yoga.png) no-repeat center center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#about-section .tint {
    background-color: rgb(121, 121, 121, .9);
}

#about-section p {
    color: #ffffff;
    font-size: 140%;
    padding-bottom:15px;
}

#about-section h2 {
    color: #eccb0e;
    font-size: 210%;
    font-weight: 500;
    letter-spacing: 2px;
}

#about-section #cover {
    padding: 10px 30px 20px;
    width: 60%;
    margin: 80px auto;
    text-align: center;
}

/* Sign up page */

#signup-outer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#signup-outer .tint {
    background-color: rgb(185, 202, 214, .8);
}

#signup-image-bg {
    background: url(../images/yoga-class2.jpg) no-repeat center center;
    height: 900px;
    width: 100%;
    /* zoom animation */
    animation-name: signup-zoom;
    animation-duration: 4s;
    animation-fill-mode: forewards;
}

@keyframes signup-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.signup-content {
    position: absolute;
    width: 100%;
    top: 5%;
}

.signup-intro {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.signup-intro h2 {
    font-size: 330%;
    color: #000;
    margin-bottom: 20px;
}

.signup-form {
    background-color: rgb(53, 56, 65, .7);
    width: 400px;
    padding: 20px;
    margin: 0 auto;
}

.signup-intro p {
    font-size: 140%;
    color: #353841;
    margin-bottom: 20px;
}

.signup-form h2 {
    color: #e4c722;
    font-weight: 100;
    font-size: 200%;
    margin-bottom: 20px;
}

.signup-form label {
    color: #fff;
    font-size: 130%;
}

.signup-form .text-field {
    background-color: rgb(255, 255, 255, .6);
    border: none;
    border-radius: 5px;
    color: #555;
    margin: 5px 0 20px;
    padding: 5px 0;
    width: 100%;
    transition: .5s;
}

.signup-form .text-field:focus-visible {
    border: 1px solid #e4c722;
}

.signup-form .text-field:hover {
    background-color: rgb(255, 255, 255);
}

.checkbox-col {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}

.signup-form .checkbox {
    height: 20px;
    width: 20px;
    display: block;
    margin: 10px auto 0;
}

.signup-form input[type=submit] {
    background-color: #e4c722;
    color: #353841;
    font-size: 120%;
    display: block;
    padding:10px;
    margin: 20px auto 0;
    border: none;
    border-radius: 4px;
    transition: .4s;
}

.signup-form input[type=submit]:hover {
    background-color: #dda010;
    color: #fff;
    
}

/**************************************************************** media queries ***********************************************************************************/

@media screen and (max-width:1500px) {
    
    #hero-image-bg, 
    #yoga-image-bg, 
    #qigong-image-bg {
        background-size: auto;
    }

}

@media screen and (max-width:1200px) {

    #cover {
        width: 80%;
    }

    #meditation-section {
        margin: 0 auto;
    }

    #yoga-section .left-column .text,
    #qigong-section .left-column .text {
        width: 100%;
    }

    .signup-intro {
        width: 81%;
    }

    .signup-form {
        width: 42%
    }

    #hero-section #cover {
        width: 70%;
    }

    #options-cover {
        width: 70%;
    }

}

@media screen and (max-width:1170px) {

    #yoga-section {
        text-align: center;
    }

    .about-yoga, 
    .about-qigong {
        height:auto;
    }

    #yoga-section .left-column, 
    #yoga-section .right-column, 
    #qigong-section .left-column, 
    #qigong-section .right-column {
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
    }

    #qigong-section .right-column iframe {
        width: 100%;
    }

    #yoga-section .left-column .text, 
    #qigong-section .left-column .text {
        text-align: center;
    }
}

    @media screen and (max-width:900px) {

        #options-cover {
            width: 80%;
        }

        .times-container {
            width: 80%;
        }

        .times-container div {
            width: 100%;
        }

        .times-container hr.y-divider {
            border-top:1px solid #fff;
            width: 70%;
            margin: 10px auto;
        }

        #meditation-section .right-column {
            width: 90%;
            padding: 20px;
            margin: 0 auto;
        }

        #meditation-section .row {
            width: 100%;
            text-align: center;
            float: none;
        }

        #meditation-section .left-column {
            padding: 20px 0;
            width: 100%;
        }

        .circle-container {
            margin: 0 auto;
            float: none;
        }

        .signup-intro {
            width: 80%;
        }
    
        .signup-form {
            width: 80%
        }
    }

    @media screen and (max-width:612px) {
        .circle-container {
            width: 350px;
            height: 350px;
        }



}

    @media screen and (max-width:794px) {
        #logo-container {
            width: 100%;
            margin: 0 auto;
            display: block;
            text-align: center;
        }   

        #menu-outer {
            width: 100%;
        }

        #menu {
            float: none;
            margin: 0 auto 10px;
            display: table;
            line-height: 25px;
        }

        #menu li {
            padding: 0 10px;
        }

    }