@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Source+Sans+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: #353841;
}

#logo {
    color: #e4c722;
    font-family: 'Lora', serif;
    font-size: 180%;
    line-height: 75px;
    letter-spacing: 3px;
    margin-left: 30px;
}

/* menu */

#menu {
    line-height: 75px;
    float: right;
    font-size: 110%;
}

#menu li {
    float: left;
    list-style-type: none;
    padding-right: 30px;
}

#menu a {
    color: #ffffff;
    text-decoration: none;
}

#menu a.active {
    color: #bba942;
    font-family: 'Lora', serif;
    font-size: 115%;
}

#menu a:hover {
    color: #f5e694;
    border-bottom: 1px solid #f5e694;
    padding-bottom: 5px
}

#menu a.active:hover {
    border: none
}

#menu a:target {
    color:#e4c722;
    border: none;
    font-weight: 700;
}

/* hero section */

#hero-section {
    background-color: #c5a827;
    height: 600px;
}

#cover {
    float: left;
}

#hero-image {
    float: right;
}